:root {
  --pink-100: #f23764;
  --pink-800: #f23764;
  --green-800: #00b863;
  --gray-100: #ebebeb;
  --gray-200: #cbcccd;
  --gray-300: #a0a0a0;
  --gray-800: #606660;
  --black-500: #4e576a;
  --black-800: #2c2c2c;
  --white: #fff;
  --white-100: #fcfcfc;
}
