@import url('./colors.scss');
@import url('./utils.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

body {
  background-color: var(--white-100);
  color: var(--black-500);
  font: 400 1rem var(--black-800);
  font-family: "Inter", sans-serif;
}

input,
button,
select,
textarea {
  font: 400 1rem var(--black-800);
  font-family: "Inter", sans-serif;

  transition: 0.2s all;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  padding: 0.5rem 1rem;

  background-color: var(--white-100);

  &::placeholder {
    color: var(--gray-200);
  }

  &:focus {
    border: 1px solid var(--pink-800);
    outline: transparent;
  }
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font: bold 1rem var(--black-800);
  font-family: "Sora", sans-serif;
}

a {
  color: var(--pink-800);
}

::selection {
  background: var(--pink-100);
  color: var(--white);
}
